<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splitit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bank4"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.splitit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.splitit.DebtAddingActivity"
            android:parentActivityName="com.example.splitit.DebtMenu" >
        </activity>
        <activity
            android:name="com.example.splitit.ContactMenu"
            android:parentActivityName="com.example.splitit.MainActivity" >
        </activity>
        <activity
            android:name="com.example.splitit.DebtMenu"
            android:parentActivityName="com.example.splitit.MainActivity" >
        </activity>
        <activity
            android:name="com.example.splitit.ErasedContacts"
            android:parentActivityName="com.example.splitit.ContactMenu" >
        </activity>
        <activity
            android:name="com.example.splitit.SplitADebt"
            android:label="@string/title_activity_split_adebt"
            android:parentActivityName="com.example.splitit.DebtMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.splitit.DebtMenu" />
        </activity>
        <activity
            android:name="com.example.splitit.EventCreater"
            android:label="@string/title_activity_event_creater"
            android:parentActivityName="com.example.splitit.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.example.splitit.AddAttenders"
            android:label="@string/title_activity_add_attenders"
            android:parentActivityName="com.example.splitit.EventCreater" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="EventCreater" />
        </activity>
        <activity android:parentActivityName="com.example.splitit.ContactMenu" android:name=".ContactViewing"></activity>
    </application>

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    

</manifest>